
header{
    height: 100vh;
    overflow: hidden;
}
header h1{
    font-weight: 800;
    text-align: center;
    font-size: 3rem;
}
header h5{
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    font-style: italic;
    color: var(--main-red);
    margin-bottom: 2rem;
    font-family: 'Grape Nuts', cursive;
/* font-family: 'Poppins', sans-serif; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.me{
    width: 28rem;
    height: 28rem;
    border-radius: 3rem;
    overflow: hidden;
   /* margin-top: 6rem; */
   /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}
.cta{
    display: flex;
    gap:1.2rem;
    justify-content: center;
}
.header_socials{
    display: flex;
    justify-content: center;
    position: relative;
    gap:1.8rem;
    margin-top: 2rem; 
} 

.header_socials::after{
    content: '< />';
    position: absolute;
    bottom: -30px;
    color:var(--main-red);
    /* width: 2rem;
    height: 1px; */
    /* background-color: var(--main-red); */

}
.scroll_down{
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    right:1rem;
    bottom:5rem;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: 'Grape Nuts', cursive;
}
/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media (max-width: 1024px){
    .me{
        height: max-content;
        aspect-ratio: 1;
    }
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media (max-width: 600px) {
    .container {
        flex-direction: column; 
    }
    .me{
        width: 60%;
         scale: 0.8;
    }

}
@media (max-width: 430px) {
    header{
        height: 130vh;
    }
    .scroll_down,.header_socials{
        display: none;
    }
    .me{
       width: 90%;
    }
}
