footer{
  text-align: center;
background-color: rgba(30, 28, 28, 0.5); 
padding: 3rem;
margin-top: 7rem;
}

.footer__logo{
color: var(--main-white);
font-size: 2rem;
margin-bottom: 3rem;
font-weight: 500;
display: inline-block;
}
.permalinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.permalinks a{
    color:var(--color-light) ;
}
.permalinks a:hover{
    color:var(--main-white) ;
}
.footer__socials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom:  4rem;
}
.footer__socials a{
    display: flex;
    padding: 0.8rem;
    border-radius: 0.7rem;
    background-color: rgba(142, 94, 94, 0.118);
}
.footer__copyright{
    display: inline-block;
    margin-bottom: 4rem;
    font-size: 0.8rem;
}